<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-tuya-unofficial" version="1.0.0">
   <name>tuyacordovaplugin</name>
   <js-module name="tuyacordovaplugin" src="www/tuyacordovaplugin.js">
      <clobbers target="tuyacordovaplugin" />
   </js-module>

   <platform name="android">
      <!-- <framework src="com.tuya.smart:tuyasmart:3.26.5" />
      <framework src="com.tuya.smart:tuyasmart-ipcsdk:3.26.5" /> -->
      <!-- <framework src="cn.yipianfengye.android:zxing-library:2.2" /> -->
      <preference name="AndroidXEnabled" default="true" />
      <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>

      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="Tuyacordovaplugin">
            <param name="android-package" value="com.arihant.tuyaplugin.Tuyacordovaplugin" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />

      <config-file target="AndroidManifest.xml" parent="/manifest">
         <!-- sdcard -->
         <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
         <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
         
         <uses-permission android:name="android.permission.INTERNET" />
         <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
         <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
         <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
         <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
         <uses-permission android:name="android.permission.RECORD_AUDIO" />
         <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
      </config-file>

      <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="com.arihant.tuyaplugin.CameraPanelActivity"  android:theme="@style/Theme.AppCompat.NoActionBar"/>
         <activity android:name="com.arihant.tuyaplugin.CameraSettingActivity" android:theme="@style/Theme.AppCompat"/>
         <activity android:name="com.arihant.tuyaplugin.CameraPlaybackActivity" android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
		</config-file>

      <!-- Activities  -->
      <source-file src="src/android/Tuyacordovaplugin.java" target-dir="src/com/arihant/tuyaplugin" />
      <source-file src="src/android/CameraPanelActivity.java" target-dir="src/com/arihant/tuyaplugin" />
      <source-file src="src/android/CameraSettingActivity.java" target-dir="src/com/arihant/tuyaplugin"  />
      <source-file src="src/android/CameraPlaybackActivity.java" target-dir="src/com/arihant/tuyaplugin" />
      <!-- Utilities  -->
      <source-file src="src/android/utils/Constants.java" target-dir="src/com/arihant/tuyaplugin/utils" />
      <source-file src="src/android/utils/DateUtils.java" target-dir="src/com/arihant/tuyaplugin/utils" />
      <source-file src="src/android/utils/DPConstants.java" target-dir="src/com/arihant/tuyaplugin/utils" />
      <source-file src="src/android/utils/FrescoManager.java" target-dir="src/com/arihant/tuyaplugin/utils" />
      <source-file src="src/android/utils/MessageUtil.java" target-dir="src/com/arihant/tuyaplugin/utils" />
      <source-file src="src/android/utils/TimeZoneUtils.java" target-dir="src/com/arihant/tuyaplugin/utils" />
      <source-file src="src/android/utils/ToastUtil.java" target-dir="src/com/arihant/tuyaplugin/utils" />
      <source-file src="src/android/utils/CameraDoorbellManager.java" target-dir="src/com/arihant/tuyaplugin/utils" />
      <source-file src="src/android/utils/DPConfig.java" target-dir="src/com/arihant/tuyaplugin/utils" />
      <!-- Bean  -->
      <source-file src="src/android/bean/RecordInfoBean.java" target-dir="src/com/arihant/tuyaplugin/bean" />
      <source-file src="src/android/bean/TimePieceBean.java" target-dir="src/com/arihant/tuyaplugin/bean" />

      <!-- Layouts -->
      
      <resource-file src="src/android/res/layout/activity_camera_panel.xml" target="res/layout/activity_camera_panel.xml" />
		<resource-file src="src/android/res/layout/camera_panel_control_layout.xml" target="res/layout/camera_panel_control_layout.xml" />
      <resource-file src="src/android/res/layout/activity_camera_setting.xml" target="res/layout/activity_camera_setting.xml" />
      <resource-file src="src/android/res/layout/activity_camera_playback.xml" target="res/layout/activity_camera_playback.xml" />
      <resource-file src="src/android/res/layout/activity_camera_playback_time_tem.xml" taget="res/layout/activity_camera_playback_time_tem.xml" />
		
      <!-- Drawables -->
      <resource-file src="src/android/res/drawable/bg_button_selector.xml" target="res/drawable/bg_button_selector.xml" />
      <resource-file src="src/android/res/drawable/bg_button.xml" target="res/drawable/bg_button.xml" />
      <resource-file src="src/android/res/drawable/camera_icon_mic_selector.xml" target="res/drawable/camera_icon_mic_selector.xml" />
      <resource-file src="src/android/res/drawable/camera_icon_photo_selector.xml" target="res/drawable/camera_icon_photo_selector.xml" />
      <resource-file src="src/android/res/drawable/camera_icon_playback_selector.xml" target="res/drawable/camera_icon_playback_selector.xml" />
      <resource-file src="src/android/res/drawable/camera_icon_record_selector.xml" target="res/drawable/camera_icon_record_selector.xml" />
      <resource-file src="src/android/res/drawable/camera_item_control_btn.xml" target="res/drawable/camera_item_control_btn.xml" />
      <resource-file src="src/android/res/drawable/camera_mute_btn.xml" target="res/drawable/camera_mute_btn.xml" />
      <resource-file src="src/android/res/drawable/camera_shape_wirlesswake.xml" target="res/drawable/camera_shape_wirlesswake.xml" />

      <resource-file src="src/android/res/drawable-xhdpi/camera_icon_arrow.png" target="res/drawable-xhdpi/camera_icon_arrow.png" />
      <resource-file src="src/android/res/drawable-xhdpi/camera_icon_cloud.png" target="res/drawable-xhdpi/camera_icon_cloud.png" />
      <resource-file src="src/android/res/drawable-xhdpi/camera_icon_hd.png" target="res/drawable-xhdpi/camera_icon_hd.png" />
      <resource-file src="src/android/res/drawable-xhdpi/camera_icon_info.png" target="res/drawable-xhdpi/camera_icon_info.png" />
      <resource-file src="src/android/res/drawable-xhdpi/camera_icon_message.png" target="res/drawable-xhdpi/camera_icon_message.png" />
      <resource-file src="src/android/res/drawable-xhdpi/camera_icon_photo_btn_normal.png" target="res/drawable-xhdpi/camera_icon_photo_btn_normal.png" />
      <resource-file src="src/android/res/drawable-xhdpi/camera_icon_photo_btn_unenable.png" target="res/drawable-xhdpi/camera_icon_photo_btn_unenable.png" />
      <resource-file src="src/android/res/drawable-xhdpi/camera_icon_playback_btn_normal.png" target="res/drawable-xhdpi/camera_icon_playback_btn_normal.png" />
      <resource-file src="src/android/res/drawable-xhdpi/camera_icon_playback_btn_unable.png" target="res/drawable-xhdpi/camera_icon_playback_btn_unable.png" />
      <resource-file src="src/android/res/drawable-xhdpi/camera_icon_rec_btn_normal.png" target="res/drawable-xhdpi/camera_icon_rec_btn_normal.png" />
      <resource-file src="src/android/res/drawable-xhdpi/camera_icon_rec_btn_on.png" target="res/drawable-xhdpi/camera_icon_rec_btn_on.png" />
      <resource-file src="src/android/res/drawable-xhdpi/camera_icon_rec_btn_unenable.png" target="res/drawable-xhdpi/camera_icon_rec_btn_unenable.png" />
      <resource-file src="src/android/res/drawable-xhdpi/camera_preview_sound_btn_off.png" target="res/drawable-xhdpi/camera_preview_sound_btn_off.png" />
      <resource-file src="src/android/res/drawable-xhdpi/camera_preview_sound_btn_on.png" target="res/drawable-xhdpi/camera_preview_sound_btn_on.png" />
      <resource-file src="src/android/res/drawable-xhdpi/camera_tab_speak_btn_nomal.png" target="res/drawable-xhdpi/camera_tab_speak_btn_nomal.png" />
      <resource-file src="src/android/res/drawable-xhdpi/camera_tab_speak_btn_on.png" target="res/drawable-xhdpi/camera_tab_speak_btn_on.png" />
      <resource-file src="src/android/res/drawable-xhdpi/camera_tab_speak_btn_unenable.png" target="res/drawable-xhdpi/camera_tab_speak_btn_unenable.png" />
      <resource-file src="src/android/res/drawable-xhdpi/tysmart_back.png" target="res/drawable-xhdpi/tysmart_back.png" />
      <resource-file src="src/android/res/drawable-xhdpi/lighting.png" target="res/drawable-xhdpi/lighting.png" />
      <resource-file src="src/android/res/drawable-xhdpi/play.png" target="res/drawable-xhdpi/play.png" />
      <resource-file src="src/android/res/drawable-xhdpi/pause.png" target="res/drawable-xhdpi/pause.png" />
      <resource-file src="src/android/res/drawable-xhdpi/resume.png" target="res/drawable-xhdpi/resume.png" />
      <resource-file src="src/android/res/drawable-xhdpi/stop.png" target="res/drawable-xhdpi/stop.png" />
		
      <!-- Values -->
      <resource-file src="src/android/res/values/tuyacordovaplugin_colors.xml" target="res/values/tuyacordovaplugin_colors.xml" />
      <resource-file src="src/android/res/values/tuyacordovaplugin_dimens.xml" target="res/values/tuyacordovaplugin_dimens.xml" />
      <resource-file src="src/android/res/values/tuyacordovaplugin_strings.xml" target="res/values/tuyacordovaplugin_strings.xml" />
      <resource-file src="src/android/res/values/tuyacordovaplugin_themes.xml" target="res/values/tuyacordovaplugin_themes.xml" />
      

   </platform>
   <platform name="ios">
      <config-file target="config.xml" parent="/*">
         <feature name="Tuyacordovaplugin">
         <param name="ios-package" value="Tuyacordovaplugin" />
         </feature>
      </config-file>
      <podspec>
         <config>
            <source url="https://github.com/TuyaInc/TuyaPublicSpecs.git"/>
         </config>
         <pods use-frameworks="true">
            <pod name="SVProgressHUD" />
            <pod name="SDWebImage" />
            <pod name="TuyaSmartHomeKit" />
            <pod name="TuyaSmartCameraKit" />
            <pod name="TuyaCameraUIKit" />
            <pod name="TuyaSmartCloudServiceBizBundle" />
         </pods>
      </podspec>
      <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
         <string>To take snapshots from smart IPCamera</string>
      </config-file>
      <config-file target="*-Info.plist" parent="NSPhotoLibraryAddUsageDescription">
         <string>To take snapshots from smart IPCamera</string>
      </config-file>
      <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
         <string>To speak for smart IPCamera</string>
      </config-file>
        
      <header-file src="src/ios/Tuyacordovaplugin.h" />
      <source-file src="src/ios/Tuyacordovaplugin.m" />
      <!-- <header-file src="src/ios/src/ios/IPC/Controller/Tuyacordovaplugin.h" />
      <source-file src="src/ios/src/ios/IPC/Controller/Tuyacordovaplugin.m" /> -->


      <!-- Image Assets -->
      <source-file src="src/ios/IPC/Assets/pps_left_arrow@2x.png" />
      <source-file src="src/ios/IPC/Assets/pps_left_arrow@3x.png" />
      <source-file src="src/ios/IPC/Assets/pps_right_arrow@2x.png" />
      <source-file src="src/ios/IPC/Assets/pps_right_arrow@3x.png" />
      <source-file src="src/ios/IPC/Assets/tp_top_bar_back@2x.png" />
      <source-file src="src/ios/IPC/Assets/tp_top_bar_back@3x.png" />
      <source-file src="src/ios/IPC/Assets/tp_top_bar_goBack@2x.png" />
      <source-file src="src/ios/IPC/Assets/tp_top_bar_goBack@3x.png" />
      <source-file src="src/ios/IPC/Assets/tp_top_bar_more@2x.png" />
      <source-file src="src/ios/IPC/Assets/tp_top_bar_more@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_cloud_icon@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_cloud_icon@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_control_hd_normal@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_control_hd_normal@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_control_sd_normal@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_control_sd_normal@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_hangup@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_hangup@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_message@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_message@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_mic_icon@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_mic_icon@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_photo_icon@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_photo_icon@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_playback_icon@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_playback_icon@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_rec_icon@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_rec_icon@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_soundOff_icon@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_soundOff_icon@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_soundOn_icon@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_soundOn_icon@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_tool_delete_normal@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_tool_delete_normal@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_tool_download_normal@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_tool_download_normal@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_tool_pause_normal@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_tool_pause_normal@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_tool_play_normal@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_camera_tool_play_normal@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_mainbt_about@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_mainbt_about@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_mainbt_about_active@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_mainbt_about_active@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_mainbt_add@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_mainbt_add@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_mainbt_add_active@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_mainbt_add_active@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_mainbt_devicelist@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_mainbt_devicelist@3x.png" />
      <source-file src="src/ios/IPC/Assets/ty_mainbt_devicelist_active@2x.png" />
      <source-file src="src/ios/IPC/Assets/ty_mainbt_devicelist_active@3x.png" />
      <source-file src="src/ios/IPC/Assets/tysmart_selected@2x.png" />
      <source-file src="src/ios/IPC/Assets/tysmart_selected@3x.png" />



      <!-- IPC/Config -->
      <resource-file src="src/ios/IPC/Config/IPCLocalizable.strings" />
      <resource-file src="src/ios/IPC/Config/IPCViewsLocalizable.strings" />

      <!-- IPC/Controller -->
      <header-file src="src/ios/IPC/Controller/CameraCloudViewController.h" />
      <source-file src="src/ios/IPC/Controller/CameraCloudViewController.m" />
      <header-file src="src/ios/IPC/Controller/CameraDoorbellManager.h" />
      <source-file src="src/ios/IPC/Controller/CameraDoorbellManager.m" />
      <header-file src="src/ios/IPC/Controller/CameraDoorbellViewController.h" />
      <source-file src="src/ios/IPC/Controller/CameraDoorbellViewController.m" />
      <header-file src="src/ios/IPC/Controller/CameraMessageViewController.h" />
      <source-file src="src/ios/IPC/Controller/CameraMessageViewController.m" />
      <header-file src="src/ios/IPC/Controller/CameraPlaybackViewController.h" />
      <source-file src="src/ios/IPC/Controller/CameraPlaybackViewController.m" />
      <header-file src="src/ios/IPC/Controller/CameraSDCardViewController.h" />
      <source-file src="src/ios/IPC/Controller/CameraSDCardViewController.m" />
      <header-file src="src/ios/IPC/Controller/CameraSettingViewController.h" />
      <source-file src="src/ios/IPC/Controller/CameraSettingViewController.m" />
      <header-file src="src/ios/IPC/Controller/CameraViewController.h" />
      <source-file src="src/ios/IPC/Controller/CameraViewController.m" />

      <!-- IPC/Models -->
      <header-file src="src/ios/IPC/Models/CameraTimeLineModel.h" />
      <source-file src="src/ios/IPC/Models/CameraTimeLineModel.m" />
      <header-file src="src/ios/IPC/Models/CloudTimePieceModel+Timeline.h" />
      <source-file src="src/ios/IPC/Models/CloudTimePieceModel+Timeline.m" />

      <!-- IPC/Utils -->
      <header-file src="src/ios/IPC/Utils/CameraPermissionUtil.h" />
      <source-file src="src/ios/IPC/Utils/CameraPermissionUtil.m" />
      <header-file src="src/ios/IPC/Utils/UIView+CameraAdditions.h" />
      <source-file src="src/ios/IPC/Utils/UIView+CameraAdditions.m" />

      <!-- IPC/View -->
      <header-file src="src/ios/IPC/View/CameraCalendarCollectionViewCell.h" />
      <source-file src="src/ios/IPC/View/CameraCalendarCollectionViewCell.m" />
      <header-file src="src/ios/IPC/View/CameraCalendarView.h" />
      <source-file src="src/ios/IPC/View/CameraCalendarView.m" />
      <header-file src="src/ios/IPC/View/CameraCloudDayCollectionViewCell.h" />
      <source-file src="src/ios/IPC/View/CameraCloudDayCollectionViewCell.m" />
      <header-file src="src/ios/IPC/View/CameraControlButton.h" />
      <source-file src="src/ios/IPC/View/CameraControlButton.m" />
      <header-file src="src/ios/IPC/View/CameraControlView.h" />
      <source-file src="src/ios/IPC/View/CameraControlView.m" />
      <header-file src="src/ios/IPC/View/CameraSwitchCell.h" />
      <source-file src="src/ios/IPC/View/CameraSwitchCell.m" />
      <header-file src="src/ios/IPC/View/CameraVideoView.h" />
      <source-file src="src/ios/IPC/View/CameraVideoView.m" />
      <header-file src="src/ios/IPC/View/CameraViewConstants.h" />
      <header-file src="src/ios/IPC/View/TYCameraRecordCell.h" />
      <source-file src="src/ios/IPC/View/TYCameraRecordCell.m" />
      <header-file src="src/ios/IPC/View/TYCameraRecordListView.h" />
      <source-file src="src/ios/IPC/View/TYCameraRecordListView.m" />

      <header-file src="src/ios/AppDelegate+Tuyacordovaplugin.h" />
      <source-file src="src/ios/AppDelegate+Tuyacordovaplugin.m" />

   </platform>

   <hook src="scripts/postPlugin.js" type="after_plugin_install" />
</plugin>